<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro realizado com sucesso!</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap">

    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/partials/page-register-success.css">

    <script src="/public/scripts/redirectAfterDelay.js" defer></script>
</head>

<body id="page-register-success">
    <div id="container">
        <img class="success-check" src="/public/assets/icons/success-check-icon.svg" alt="Sucesso">

        <h1 class="success-title">Cadastro salvo!</h1>

        <p class="success-message">
            Tudo certo, seu cadastro está na nossa lista de professores.
            <br>
            Agora é só ficar de olho no seu Whatsapp.
        </p>
    </div>
</body>

</html>
